.products {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}


.product-card {
    border: 1px solid gray;
    border-radius: 10px;
    width: 200px;
    height: 300px;
}

.product-card img {
    object-fit: contain;
    height: 70%;
    width: 100%;
}